<%- include('./navigation.ejs') %>
    <div class="table__container">
        <div class="admin">
            <form action="/admin/categories/add" method="POST" class="form">
                <% if(errors) { %>
                    <% errors.forEach(function(error) { %>
                        <div class="message message--error">
                            <%= error.msg %>
                        </div>
                    <% }); %>
                <% }%>
    
                <%- messages('flash', locals) %>
                
                <div class="form__group">
                    <label for="" class="form__label">Category Name : </label>
                    <input type="text" class="form__input" value="" name="name">
                </div>
                <div class="form__group">
                    <button class="form__button" type="submit">Submit</button>
                </div>
            </form>
        </div>
       
    </div>
<%- include('../includes/footer.ejs') %>