<%- include('./navigation.ejs') %>

    <div class="container" style="width:100%;text-align:center;margin: 100px 0px;">
        <h1>Admin Dashboard</h1>
    </div>

<%- include('../includes/footer.ejs') %>