<%- include('../includes/header.ejs') %>

<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:100|Righteous" rel="stylesheet">
<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
</head>
<body>
    <nav class="nav">
        <div class="nav__menu">
            <ul class="nav__menu-items">
                <li class="nav__menu-item"><a href="/admin/categories" class="nav__menu-link">Categories</a></li>
                <li class="nav__menu-item"><a href="/admin/products" class="nav__menu-link">Products</a></li>
            </ul>
        </div>
        <div class="nav__admin">
            <ul class="nav__admin-items">
                <li class="nav__admin-item">
                   <form method="POST" action="/admin/logout">
                        <input type="submit" class="nav__admin-button" value="Logout">
                   </form>
                   
                </li>
            </ul>
        </div>
    </nav>

