* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-weight: 100; }

.container {
  width: 1200px;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header a {
    text-decoration: none;
    color: #000; }
  .header__logo {
    text-align: center;
    letter-spacing: 1px; }
    .header__logo-title {
      font-size: 1.625rem;
      font-family: 'Righteous', cursive;
      text-transform: uppercase; }
    .header__logo-subtitle {
      text-transform: uppercase;
      font-size: 0.75rem; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto, sans-serif"; }
    .header__menu-items {
      list-style: none;
      margin-right: 1.875rem; }
    .header__menu-item {
      display: inline-block;
      padding: 0 0.9375rem;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer; }
      .header__menu-item:not(:last-of-type) {
        border-right: 1px solid rgba(0, 0, 0, 0.8); }
      .header__menu-item:hover {
        color: rgba(0, 0, 0, 0.4); }
  .header__cart a {
    text-decoration: none;
    font-size: 0.875rem;
    cursor: pointer;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8); }
    .header__cart a:hover {
      color: rgba(0, 0, 0, 0.4); }
  .header__cart-amount {
    font-size: 0.75rem; }

.message {
  text-align: center;
  padding: 0.9375rem;
  margin: 0.9375rem 0;
  letter-spacing: 1px;
  font-size: 0.75rem; }
  .message--error {
    background: rgba(248, 51, 51, 0.8);
    color: #fff; }
  .message--success {
    background: rgba(36, 224, 99, 0.8);
    color: #fff; }

.nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .nav__menu {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto, sans-serif"; }
    .nav__menu-items {
      list-style: none;
      margin-right: 1.875rem; }
    .nav__menu-item {
      display: inline-block;
      padding: 0 0.9375rem;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 1px;
      color: black;
      cursor: pointer;
      font-weight: 400; }
      .nav__menu-item:hover {
        color: rgba(0, 0, 0, 0.6); }
    .nav__menu-link {
      text-decoration: none;
      color: black; }
  .nav__admin-items {
    list-style: none;
    background: black;
    padding: 0.625rem; }
  .nav__admin-item {
    padding: 0 0.9375rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
    font-weight: 400;
    color: #fff; }
  .nav__admin-button {
    background: transparent;
    color: #fff;
    cursor: pointer; }

.table__container {
  background: #398B93;
  background-color: #91ced4;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px; }

.header {
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase; }

.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px; }

table {
  width: 100%; }
  table td, table th {
    color: #2b686e;
    padding: 10px; }
  table td {
    text-align: center;
    vertical-align: middle; }
    table td:last-child {
      font-size: 0.95em;
      line-height: 1.4;
      text-align: left; }
  table th {
    background-color: #daeff1;
    font-weight: 300; }
  table tr:nth-child(2n) {
    background-color: white; }
  table tr:nth-child(2n+1) {
    background-color: #edf7f8; }

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block; }
  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px; }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left; }
    td:not(:first-child):before {
      color: #91ced4;
      content: '';
      display: block;
      left: 0;
      position: absolute; }
  td:nth-child(2):before {
    content: 'Name:'; }
  td:nth-child(3):before {
    content: 'Email:'; }
  td:nth-child(4):before {
    content: 'Phone:'; }
  td:nth-child(5):before {
    content: 'Comments:'; }
  tr {
    padding: 10px 0;
    position: relative; }
    tr:first-child {
      display: none; } }

@media screen and (max-width: 500px) {
  .header {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }
  img {
    border: 3px solid;
    border-color: #daeff1;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px; }
  td:first-child {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%; }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%; }
    td:not(:first-child):before {
      font-size: .8em;
      padding-top: 0.3em;
      position: relative; }
  td:last-child {
    padding-bottom: 1rem !important; }
  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0; }
  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible; } }

.ti-pencil {
  cursor: pointer;
  font-size: 1.125rem;
  margin-right: 0.9375rem; }
  .ti-pencil:hover {
    color: red; }

.ti-trash {
  margin-left: 0.9375rem;
  cursor: pointer; }
  .ti-trash:hover {
    color: red; }

.ti-plus {
  padding-left: 0.625rem; }

.table-link {
  text-decoration: none;
  color: #398B93; }

.table__button {
  background: #000;
  padding: 0.625rem 1.25rem;
  color: #fff;
  margin: 1.25rem;
  outline: none;
  cursor: pointer; }

.admin {
  width: 75rem;
  margin: 0 auto; }

.form {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
  padding-left: 1.5625rem; }
  .form__group {
    margin: 1.25rem 0px; }
  .form__label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 0.875rem; }
  .form__input {
    height: 1.875rem;
    outline: none;
    margin-top: 0.3125rem;
    font-size: 0.75rem;
    padding: 0.5rem;
    width: 90%; }
  .form__button {
    padding: 0.625rem 1.25rem;
    background: #000;
    color: #fff;
    outline: none; }
  .form__textarea {
    width: 90%;
    outline: none; }
  .form__images {
    display: flex; }
    .form__images-item {
      width: 9.375rem;
      height: 9.375rem;
      margin-right: 10px; }

#cke_description {
  width: 90%; }

.cart {
  width: 75rem;
  margin: 3.125rem auto; }
  .cart__header {
    text-align: center;
    margin: 1.25rem 0px;
    text-transform: uppercase; }
  .cart__image {
    width: 5rem; }
  .cart__name {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.25rem; }
  .cart__button {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin: 0 1.25rem;
    outline: none;
    text-decoration: none;
    color: #000;
    cursor: pointer; }
    .cart__button--number {
      font-size: 1rem;
      font-weight: 600;
      outline: none;
      background: transparent; }
  .cart__checkout {
    background: #000000;
    padding: 0.625rem 1.25rem;
    color: #fff;
    margin-top: 1.25rem;
    outline: none;
    cursor: pointer;
    text-decoration: none; }
  .cart__subtotal {
    text-align: right;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.1);
    text-transform: uppercase; }
  .cart__actions {
    margin-top: 1.5625rem; }

.banner {
  background-image: url("../../images/banner.jpg");
  background-size: cover;
  background-position: bottom;
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .banner__moto {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Righteous', cursive; }
    .banner__moto-top, .banner__moto-bottom {
      font-size: 1.25rem;
      background: #000000;
      color: #fff;
      display: inline-block;
      padding: 0.625rem 1.25rem;
      margin: 0.3125rem; }
    .banner__moto-title {
      background: #fff;
      padding: 1.25rem 3.125rem;
      font-size: 3.75rem;
      text-transform: uppercase;
      -webkit-clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0% 100%);
      clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0% 100%);
      letter-spacing: 1px; }

.featured {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.1875rem;
  margin-top: 0.1875rem; }
  .featured__content-1 {
    background: url("../../images/featured/featured_1.jpg");
    height: 28.125rem;
    background-size: cover; }
  .featured__content-2 {
    background: url("../../images/featured/featured_2.jpg");
    height: 28.125rem;
    background-size: cover; }
  .featured__content-3 {
    background: url("../../images/featured/featured_3.jpg");
    height: 28.125rem;
    background-size: cover; }
  .featured__content-4 {
    background: url("../../images/featured/featured_4.jpg");
    height: 28.125rem;
    background-size: cover; }

.products {
  margin-top: 3.125rem;
  max-width: 75rem;
  margin: 7.5rem auto; }
  .products__heading {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 0.3125rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 6.25rem; }
  .products__link {
    color: #fff; }
  .products__container {
    display: grid;
    grid-template-columns: .5fr 3fr;
    grid-gap: 0.625rem;
    align-items: flex-start; }
  .products__category {
    width: 50%; }
    .products__category--title {
      font-size: 1.125rem;
      text-transform: uppercase;
      margin-bottom: 1.25rem; }
    .products__category--items {
      list-style: none; }
    .products__category--item {
      padding: 0.3125rem 0;
      text-transform: uppercase;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.6);
      margin-right: 1.25rem;
      transition: padding .4s ease-in;
      font-size: 0.75rem;
      cursor: pointer; }
      .products__category--item:hover {
        padding-left: 15px; }
    .products__category-link {
      text-decoration: none;
      color: #000000; }
  .products__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5625rem; }
  .products__item {
    border: 1px solid rgba(192, 192, 192, 0.3);
    text-align: center;
    cursor: pointer;
    position: relative; }
    .products__item-overlay {
      position: absolute;
      color: #fff;
      display: none;
      transition: all .4s ease-in;
      height: 100%;
      width: 100%; }
    .products__item-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem; }
    .products__item:hover .products__item-overlay {
      display: block;
      background: rgba(0, 0, 0, 0.2); }
    .products__item-img {
      width: 80%;
      margin-bottom: 1.25rem; }
    .products__item-title {
      text-transform: capitalize;
      margin-bottom: 0.3125rem; }
    .products__item-price {
      padding-bottom: 0.625rem;
      text-transform: capitalize;
      font-size: 0.875rem; }

.brand {
  background: url("../../images/brand.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  position: relative; }
  .brand__content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #fff; }
  .brand__heading {
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.625rem 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; }
  .brand__paragraph {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 100; }
  .brand__button {
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem; }

.login {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }
  .login__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5625rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
    .login__content--error {
      color: red;
      margin-top: 1.25rem;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 400; }
  .login__form-control {
    margin: 1.25rem 0px; }
  .login__form-label {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 0.1875rem; }
  .login__form-input {
    height: 2rem;
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .login__form-button {
    background: #000000;
    color: #fff;
    padding: 0.625rem 1.25rem;
    cursor: pointer; }

.detail {
  color: #000;
  width: 75rem;
  margin: 6.25rem auto;
  display: flex;
  align-items: center; }
  .detail__image {
    width: 50%; }
    .detail__image-img {
      width: 80%; }
  .detail__description {
    width: 50%;
    margin-left: 2.8125rem; }
  .detail__title {
    text-transform: uppercase; }
  .detail__price, .detail__stock, .detail__category {
    margin: 0.5rem 0px; }
  .detail__cart {
    font-size: 0.875rem;
    cursor: pointer;
    color: #000;
    padding: 0.3125rem 0;
    margin-top: 1.25rem;
    padding-bottom: 0.3125rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block; }
    .detail__cart a {
      color: #000;
      text-decoration: none; }
    .detail__cart:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.5); }
  .detail__text p {
    padding-top: 0.625rem; }
