.admin{
    width: rem(1200px);
    margin: 0 auto;
}
.form{

        border: 1px solid darken($baseColor, 5%);
        border-radius: $borderRadius;
        box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
        max-width: calc(100% - 2em);
        margin: 1em auto;
        overflow: hidden;
        width: 800px;
        padding-left: rem(25px);

    &__group{
        margin:rem(20px) 0px;
    }
    &__label{
        display: block;
        font-family:  'Roboto', sans-serif; 
        font-weight: 800;
        font-size: rem(14px)
    }

    &__input{
        height: rem(30px);
        outline: none;
        margin-top: rem(5px);
        font-size: rem(12px);
        padding: rem(8px);
        width: 90%;
    }

    &__button{
        padding: rem(10px) rem(20px);
        background: #000;
        color: #fff;
        outline: none;
    }
    &__textarea{
        width: 90%;
        outline: none;
    }

    &__images{
        display: flex;
      

        &-item{
            width: rem(150px);
            height:rem(150px);
            margin-right: 10px;
            
        }
    }
    
}

#cke_description{
    width: 90%;
}