<%- include('./../includes/header.ejs') %>
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:100|Righteous" rel="stylesheet">
</head>
<body>

    <header class="header container">
        <div class="header__logo">
            <div class="header__logo-title">Fashion</div>
            <div class="header__logo-subtitle">Trades</div>
        </div>
        <div class="header__menu">
            <ul class="header__menu-items">
                <li class="header__menu-item">New Arrivals</li>
                <li class="header__menu-item">Dress</li>
                <li class="header__menu-item">Bags</li>
                <li class="header__menu-item">Assesories</li>
                <li class="header__menu-item">Shoes</li>
            </ul>
            <div class="header__cart">
                <i class="ti-shopping-cart"></i> 
                <span class="header__cart-amount"> (0 items)</span>
            </div>
        </div>
    </header>

    <section class="banner">
        <div class="banner__moto">
            <div class="banner__moto-top">We Trade</div>
            <h1 class="banner__moto-title">The fashions</h1>
            <div class="banner__moto-bottom">You Love</div>
        </div>
    </section>

    <div class="featured"> 
        <div class="featured__content-1">
        </div>
        <div class="featured__content-2">
        </div>
        <div class="featured__content-3">
        </div>
        <div class="featured__content-4">
        </div>
    </div>

    <section class="products">
        <h2 class="products__heading">
            Our Products
        </h2>
        <div class="products__container">
            <div class="products__category">
                <div class="products__category--title">Categories</div>
                <ul class="products__category--items">
                    <li class="products__category--item">All</li>
                    <li class="products__category--item">Dresses</li>
                    <li class="products__category--item">Bags</li>
                    <li class="products__category--item">Assesories</li>
                    <li class="products__category--item">Shoes</li>
                </ul>
            </div>
            <div class="products__items">
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
               <div class="products__item">
                   <div class="products__item-overlay">
                       <span class="products__item-icon"><i class="ti-search"></i></span>
                   </div>
                  <img src="images/bag.png" class="products__item-img">
                    <div class="products__item-title">Title of the product</div>
                    <div class="products__item-price">
                        price: 30 €
                    </div>
               </div>
            </div>
        </div>
    </section>
    <section class="brand">
        <div class="brand__content">
            <p class="brand__heading">
                Helping the sense of fashion on you.
            </p>     
            <p class="brand__paragraph">
                Approach us for all kinds of accesories and fashionable wears.
            </p>
            <button class="brand__button">Explore more</button>
        </div>
       
    </section>
        
<%- include('./../includes/footer.ejs') %>
